backend/.DS_Store
backend/env

frontend/node_modules
frontend/dist
frontend/build
frontend/coverage
frontend/logs
frontend/public/uploads
frontend/.next
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/.env.test
